*.class

/logs
/.gradle
/APP_HOME_IS_UNDEFINED
/build
/gzbconnect.iml
/.idea/*
*.iml
out/
logs/
*dependency-reduced-pom.xml
.classpath
.project
.settings/
.idea/
target/
work/
devenv
*.log*
*.iml
*.versionsBackup
